.list-header {
    background: #f7f7f7;
    border: 1px solid darken($color: #f7f7f7, $amount: 7%);
    display: flex;
    color: $grey;
    justify-content: space-between;
    padding: $small-size $medium-size;
}

.list-body {
    margin-bottom: $medium-size;
    @media (min-width: $desktop-break-point) {
       margin-bottom: $large-size;
    }
}

.list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid darken($color: #f7f7f7, $amount: 7%);
    border-top: none;
    color: $dark-grey;
    padding: $small-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $light-grey;
    };
    @media (min-width: $desktop-break-point) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $medium-size;
    }
}

.list-item--message {
    align-items: center;
    justify-content: center;
    color: $grey;
    padding: $medium-size;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__subtitle {
    color: $grey;
    font-size: $font-size-small;
}

.list-item__data {
    margin: $small-size 0 0 0;
    @media (min-width: $desktop-break-point) {
        margin: 0;
        padding-left: $small-size;

    }
}