html {
    font-size: 62.5%;
}

body {
    font-family: 'Courier New';
    font-size: $medium-size;
    background: white;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}