/* 
    This is the file for defining variables for style. These variables are then used all over the app.
*/

// Colors
$off-black: #20222B;
$light-purple: #A5AFD7;
$dark-blue: #364051;
$purple: #8357C5;
$blue: #3C4251;
$dark-grey: #333333;
$grey: #666;
$light-blue: #2B6FC9;
$light-grey: #F7F7F7;

// Spacing
$small-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-break-point: 45rem;

// Font Sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;