/* 
    This is the file for defining variables for style. These variables are then used all over the app.
*/

// Colors
$off-black: #20222B;
$light-purple: #A5AFD7;
$dark-blue: #333745;
$purple: #8357C5;
$blue: #3C4251;
$light-blue: #464B5E;


// Spacing
$small-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-break-point: 45rem;